.card-cursos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lexend', sans-serif;
    margin-bottom: 4rem;
}

.body {
    background: linear-gradient(210deg, #302b63, #24243e);
    height: 150vh;
    padding-top: 6rem;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@font-face {
  font-family: 'MontserratAlt1-Bold';
  src: url(../fonts/ttf/MontserratAlt1-Medium.ttf);
}


.flex-shrink-1 {
  background-color: #24243e;
}